@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #6b164b;
}
.container{
    background: #fff;
    width: 90vmin;
    padding: 80px 50px;
    border-radius: 10px;
    box-shadow: 0 20px 40px rgba(38,33,61,0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.searching{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.searching input{
    padding: 5px;
    width: 70%;
    border: none;
    outline: none;
    font-size: 16px;
    border-bottom: 3px solid #6b164b;
}
.searching button{
    padding: 5px 0;
    width: 25%;
    background: #6b164b;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}
.result{
    position: relative;
}

.result h3{
    font-size: 30px;
    color: #6b164b;
}
.result .word{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}
.result button{
    background: transparent;
    border: none;
    outline: none;
    font-size: 18px;
    color: #6b164b;
}
.result .details{
    display: flex;
    gap: 10px;
    color: #6b164ba1;
    font-size: 14px;
    margin: 5px 0 20px 0;
}
.result .word-meaning{
    color: #6b164bc7;
    font-size: 20px;
}

.result .word-example{
    color: #6b164bc7;
    font-style: italic;
    border-left: 5px solid #6b164b;
    margin-top: 30px;
    padding-left: 20px;
}
.error{
    margin-top: 80px;
    text-align: center;
    font-size: 14px;
}